<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': isLoved() == 1,
                'list-group-item-danger': isLoved() == -1}">
    
    <div style="float:left"><h4 [ngStyle]="{color:getColor()}">{{ title }}</h4></div>
    <div style="float:right"><p>{{ createdDate | date : 'dd/MM/yyyy hh:mm:ss' }}</p></div>
    <br/>
    <div>
    <br/>
    <p [ngStyle]="{color:getColor()}">{{ content }}</p>
    
    <button class="btn btn-success" style="margin:5px" (click)="onLoveIt()">Love It!</button>
    <button class="btn btn-danger" (click)="onDontLoveIt()">Don't love It!</button>
    <div style="float: right">
        <h4>#like: {{ loveIts }}</h4>
    </div>
    </div>
</li>